@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;900&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Exo', sans-serif;
    background-color: whitesmoke;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .8);
}
.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* Header */
header {
    text-align: center;
    text-transform: uppercase;
}
header h1 {
    font-size: 1.5rem;
    margin: 25px 10px;
}

/* Image Continer */
.image-container {
    margin-left: 10px;
    margin-right: 10px;
    columns: 1;
    column-gap: 10px;
}
.image-container img {
    width: 100%;
    margin-bottom: 5px;
}

/* Media Query: Tablet & Larger */
@media screen and (min-width: 600px) {
    h1 {
        font-size: 1.7rem;
    }
    .image-container {
        margin-left: 30px;
        margin-right: 30px;
        columns: 2;
    }
}

/* Media Query: Desktop & Larger */
@media screen and (min-width: 992px) {
    h1 {
        font-size: 1.9rem;
    }
    .image-container {
        margin-left: 20%;
        margin-right: 20%;
    }
}
